<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/balac/IdeaProjects/OctAutomation"><classes><class name="PagePackageTest.HomePageTest"><methods><include name="Testlogo"/><include name="Teststudent"/><include name="login"/></methods></class><class name="PagePackageTest.LandingPageTest"><methods><include name="Testhead"/><include name="Testmail"/></methods></class><class name="PagePackageTest.LoginPageTest"><methods><include name="Testloginpage"/></methods></class></classes></test></suite>